
h1, h2, h3, h4, h5, h6, p{
    margin:0!important;
    padding:0!important;
    border:0!important;
    outline:0!important;
    vertical-align:baseline!important;
    background:transparent!important;
}