/* Sidebar */

#sidebar-wrapper{
	z-index: 1;
	position: absolute;
	width: 0;
	height: 800px;
	overflow-y:hidden;
	background: #fff;
	transition: all 0.5s ease-out;
}

.topbar{
	padding:20px!important;
}


.padding-left{
	padding-left:280px!important;
	transition: all 0.5s ease-out;
}


/* Main Content Area */

#page-content-wrapper{
	width: 100%;
	position: absolute;
	
}

/*  Change the width of the sidebar to display it  */

#wrapper.menuDisplayed #sidebar-wrapper{
	width: 265px;

}

#wrapper.menuDisplayed #page-content-wrapper{
	padding-left: 250px;

}

/* Sidebar styling*/

.sidebar-nav{
	padding: 0;
	list-style: none;
}

.sidebar-nav li{
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a{
	display: block;
	text-decoration: none;
	color:rgb(32, 32, 32);
}

.sidebar-nav li a:hover{
	background: #ddd;
	transition: all 0.5s ease-out;
}
